.pageContainer{
    color:white;
    width:100vw;
    height:100vh;
}

.cardContainer{
    margin:auto;
    max-width: 50vw;
    height:50vh
}

.cardContainer a{
    text-decoration: none;
}

.card{
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s;
    font-size: 28px;
    height:200px;
    border-radius: 10px;
    background-color: #dff9fb;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
    font-size: 36px;
}