.overlayContainer {
  width: 100%;
  position: relative;
}

.scoreBox {
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin: auto;
  box-shadow: 0px 0px 14px #c45858;
}

.rudeMsg {
  border-bottom: 2px solid #6c757d5d;
}

.btn {
  transition: 0.5s;
  border: 2px solid white;
  outline: none;
  border-radius: 4px;
  padding: 4px 10px;
  color: white;
  background-color: #5ac988;
}

.btn:hover {
  background-color: #18bb5c;
}

.max,
.norm {
  font-weight: 700;
}

.max {
  color: #18bb5c;
}

.norm {
  color: #c02626;
}


.restart{
    width: 100%;
    position: absolute;
}
