.screenContainer {
  color: white;
  min-height: 90vh;
  background-color: #1d262e;
}

.objectText {
  padding: 2px;
  background-color: #c45858;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.optionContainer {
  margin: auto;
  margin-top: 4rem;
  padding: 0 4rem;
}

.card {
  position: relative;
  height: 200px;
  margin-bottom: 8px;
}
.card img {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.card:hover .cardQuote {
  bottom: 0;
  height: 20%;
  background-color: #1d262eb7;
}

.card .cardQuote {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 100%;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  overflow: hidden;
  padding-top:6px;
}

.status {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.stage,
.scoreBoard,
.timer {
  font-family: "Courier New", Courier, monospace;
  border-bottom: 2px solid #c45858;
}

.btn {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px 20px;
  background-color: #c45858;
  color: white;
}
