@keyframes bounce {
  0% {width: 50px;height: 50px;}
  50% {width: 80px;height: 80px;}
  100% {width: 50px;height: 50px;}
}

@media (max-width: 400px){
  .optionContainer {
    padding: 0rem !important;
  }
}

h1 {
  font-weight: 700 !important;
  text-shadow: 1px 1px 2px #343434, 2px 2px 10px rgba(0, 0, 0, 0.1);
}

p, button, .objectText{
  font-weight: 600;
}

.screenContainer {
  color: white;
  min-height: 90vh;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.objectText {
  padding: 2px;
  background-color: #c45858;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.optionContainer {
  position: relative;
  margin: auto;
  margin-top: 4rem;
  padding: 0 4rem;
}

.status {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.stage,
.scoreBoard,
.timer {
  font-weight: 600;
  color: black;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 2px solid #c45858;
}

.btn {
  transition: 0.5s;
  border: 2px solid white;
  outline: none;
  border-radius: 4px;
  padding: 8px 20px;
  color: white;
}

.btnFinal{
  background-color: #5ac988;
}

.btnFinal:hover{
  background-color: #18bb5c;
}

.btnNorm{
  background-color: #c45858;
}

.btnNorm:hover{
  background-color: #c02626;
}


.stageResult{
  margin:auto;
  z-index: 10;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stageResult svg{
  margin:5px;
  width: 50px;
  height: 50px;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.stageResult p{
  font-size: 26px;
  text-shadow: 1px 0px 2px black;
}

